NEXT_PUBLIC_S3_ENDPOINT=xxxx
NEXT_PUBLIC_S3_ACCESS_KEY_ID=xxxx
NEXT_PUBLIC_S3_SECRET_ACCESS_KEY=xxxx
NEXT_PUBLIC_S3_BUCKET=xxxx
NEXT_PUBLIC_S3_REGION=xxxx

NEXT_PUBLIC_API_URL=https://api.xinxun.us/v3