NEXT_PUBLIC_S3_ENDPOINT=s3.ap-southeast-1.amazonaws.com
NEXT_PUBLIC_S3_ACCESS_KEY_ID=AKIARQJO3XSU4SWMVIX7
NEXT_PUBLIC_S3_SECRET_ACCESS_KEY=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
NEXT_PUBLIC_S3_BUCKET=xx-forum
NEXT_PUBLIC_S3_REGION=ap-southeast-1

NEXT_PUBLIC_API_URL=https://api.xinxun.us/v3